@keyframes boxAnimation {
  0% {
    top: 20px;
    left: 20px;
    background-color: black;
  }

  30% {
    top: calc(100% - 100px - 20px);
    left: 20px;
    background-color: red;
  }

  60% {
    top: calc(100% - 100px - 20px);
    left: calc(100% - 100px - 20px);
    background-color: green;
  }

  80% {
    top: 20px;
    left: calc(100% - 100px - 20px);
    background-color: blue;
  }

  100% {
    top: 20px;
    left: 20px;
    background-color: black;
  }
}

.outerBox {
  position: relative;
  width: 400px;
  height: 400px;
  border: 3px solid black;
}

.innerBox {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 100px;
  width: 100px;
  border: 3px solid black;
  animation: boxAnimation 3s infinite;
}
